a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo span {
    color:  #2E2F42;
}

.nav-item {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-item:hover, 
.nav-item:focus {
    color: #404bbf;
}
.contacts {
    font-style: normal;

}
.contacts-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts-item:hover, .contacts-item:focus {
    color: #404bbf;
}


.sctn_1 {
    background-color:#2e2f42;
}

.sctn_1_h1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center; 
    letter-spacing: 0.02em;
    color: #ffffff;
}

.sctn_1_btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    
}
.sctn_1_btn:hover, 
.sctn_1_btn:focus {
    background-color: #404BBF;
}

.sctn_2_h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.sctn_2_p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.sctn_3 {
    background-color: #F4F4FD;
}

.sctn_3_h2 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.sctn_3_li {
    background-color: #FFFFFF;
}
.sctn_3_li_h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.sctn_3_li_p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.sctn_4_h2 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}

.sctn_4_li_h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.sctn_4_li_p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.ftr {
    background-color: #2e2f42;
    
}

.logo .logo-alt-color {
    color: #f4f4fd;
}

.ftr .ftr_p {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}