body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo span {
    color:  #2E2F42;
}

.nav-item {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-item:hover, .nav-item:focus {
    color: #404bbf;
}
.contacts {
    font-style: normal;

}
.contacts-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts-item:hover, .contacts-item:focus {
    color: #404bbf;
}


.section_one {
    background-color:#2e2f42;
}

.section_1_h1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center; 
    letter-spacing: 0.02em;
    color: #ffffff;
}

.section_1_btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    
}
.section_1_btn:hover, .section_1_btn:focus {
    background-color: #404BBF;
}
